.calculate__finish { 
    display: none;
}


.calculate {
    padding-bottom: 40px;
    position: relative;
}
@media(max-width: 992px) {
    .calculate {
        padding-bottom: 0;
    }
}

.calculate__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 150%;
    color: var(--text-color);
    margin-bottom: 15px;
    text-align: center;
}
@media(max-width: 798px) {
    .calculate__title {
        font-size: 27px;
        margin-bottom: 5px;
    }
}

.calculate__description {
    font-size: 22px;
    line-height: 150%;
    color: #959A9D;
    margin: 0;
    text-align: center;
    margin-bottom: 43px;
}
@media(max-width: 798px)  {
    .calculate__description {
        font-size: 18px;
        margin-bottom: 30px;
    }
}

.calculate__body {
    display: flex;
    background: #fff url('../img/calculate/bg.jpg');
    max-height: 620px;
    overflow: hidden; 
    position: relative;
    border-radius: 50px;
    justify-content: center;
}
@media(max-width: 992px) {
    .calculate__body {
        min-height: 540px;
    }
}

.calculate__body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 109, 255, 0.514);
    z-index: 0;
}

.calculate__wrapper {
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
    padding-top: 89px;
    padding-left: 67px;
}

@media (max-width: 992px) {
    .calculate__wrapper {
        padding-top: 20px;
        padding-left: 0;
    }
}

.answer-calculate{
    text-align: center;
}
.answer-calculate__title {
    font-size: 22px;
    color: #fff;
    position: relative;
    line-height: 150%;
    margin-bottom: 13px;
}
@media (max-width: 867px)  {
    .answer-calculate__title {
        font-size: 20px;
    }
}
@media(max-width: 798px)  {
    .answer-calculate__title {
        padding: 0 60px;
    }
}

.answer-calculate__description {
    color: #fff;
    font-size: 16px;
    position: relative;
    margin: 0 0 26px 0;
}
.call-calculate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.call-calculate__link {
    text-decoration: none;
    background-color: #fff;
    padding: 15px 0;
    min-width: 183px;
    border-radius: 20px;
    text-align: center;
}

.call-calculate__link:not(:last-child) {
    margin-right: 8px;
}

.form-calculate {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
@media(max-width: 992px) {
    .form-calculate {
        align-items: center;
        justify-content: center;
    }
}

.form-calculate__input {
    margin-bottom: 10px;
}
@media(max-width: 992px) {
    .form-calculate__input {
        min-width: 375px;
    }
    .form-calculate__button {
        min-width: 375px;
    }
}


.images-calculate {
    position: relative;
    z-index: 2;
}
@media(max-width: 992px) {
    .images-calculate__hand {
        display: none;
    }
}
@media (max-width: 867px) {
    .images-calculate {
        display: none;
    }
}

.police-calculate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.police-calculate__checkbox {
    background-color: #fff;
    border-radius: 5px;
    border: none;
    margin-right: 6px;
    outline: none;
}



.police-calculate__text {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    line-height: 150%;
}

.police-calculate__text--link {
    color: #fff;
}



.description-calculate {
    position: absolute;
    top: 68%;
    right: 20%;
    background-color: #fff;
    display: flex;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 409px;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 992px) {
    .description-calculate {
        top: 80%;
        right: 0;
        height: 110px;
    }
}

.description-calculate__list {
    padding: 26px 0px 19px 30px;   
}

.description-calculate__title {
    font-size: 16px;
    color: var(--blue-color);
    font-weight: bold;
    margin-bottom: 5px;
}

.description-calculate__item {
    font-size: 14px;
    color: var(--text-color);
    line-height: 150%;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
}

.description-calculate__item::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: 8px;
    display: flex;
    margin-left: -10px;
    background-color: #000;
    border-radius: 100%;
}

.description-calculate__subtitle {
    font-size: 12px;
    margin-left: 10px;
    color: #959A9D;
}


/* choice */

.answer-calculate {
    margin-top: 35px;
}

.answer-calculate__inner {
    display: flex;
    gap: 20px;
}

.information-answer {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    justify-content: center;

    background: #fff url('../img/calculate/answer/answer-bg.png') center center no-repeat;

    padding: 20px;
    border-radius: 30px;
}
@media (max-width: 992px) {
    .information-answer {
        justify-content: flex-start;
        padding: 10px;
    }
}
@media (max-width: 867px) {
    .information-answer {
        display: none;
    }
}


.information-answer__title {
    color: #fff;
    background-color: var(--blue-color);

    font-size: 14px;
    line-height: 150%;

    padding: 25px 34px;
    border-radius: 20px;

    margin-bottom: 33px;
    text-align: center;
}

@media (max-width: 992px) {
    .information-answer__title {
        padding: 20px 10px;
        margin-bottom: 25px;
    }
}

.information-answer__subtitle {
    text-transform: uppercase;
    font-size: 14px;


    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}    

.information-answer__text {
    color: #fff;

    font-size: 12px;
    text-align: left;
    line-height: 150%;
    flex: 1 1 auto;
}

.information-answer__text--bold  {
    font-weight: 800;
    display: block;
}


.questions-answer {
    flex: 1 1 710px;
    background-color: #fff;

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding-top: 40px;
}
@media (max-width: 798px) {
    .questions-answer {
        flex: 1 1 auto;
    }
}

.questions-answer__content {
    height: 520px;
}

.information-answer__item {
    display: flex;
    align-items: center;
    margin-top: -20px;
}
@media(max-width: 992px) {
    .information-answer__item img {
        display: none;
    }
    .information-answer__item {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

/* cleaning block */

.cleaning-questions__title {
    color: var(--text-color);

    font-size: 24px;
}

.cleaning-questions__choice {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 13px;
    flex: 1 1 auto;
}

.cleaning-questions {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    padding: 5px 5px 40px 5px;
}

.cleaning-questions__label {
    cursor: pointer;
}

.cleaning-questions__input {
    opacity: 0;
    visibility: hidden;
}


.cleaning-questions__img {
    position: relative;
    margin-bottom: 20px;
}
@media (max-width: 798px) {
    .cleaning-questions__img img {
        width: 150px;
    }
}
@media(max-width: 498px) {
    .cleaning-questions__img img {
        width: 100%;
    }
}


.cleaning-questions__img::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 10px);
    width: 30px;
    height: 30px;

    background: url('../img/icons/icon-choice.svg') center center no-repeat;
}

.cleaning-questions__input:checked ~ .cleaning-questions__img::after {
    border: 3px solid var(--blue-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
 }
 
 .questions-answer__progress {
    font-size: 12px;

    color: var(--text-color);
    margin-bottom: 10px;
    text-align: center;
 }


 

.cleaning-questions__text {
    color: var(--text-color);
    font-size: 14px;
}

.cleaning-questions__next {
    text-transform: uppercase;
    position: relative;

    letter-spacing: 0.20em;
    background-color: var(--blue-color);
    color: #fff;
    border-radius: 30px;
    font-size: 13px;
    text-decoration: none;

    min-width: 200px;
    padding: 23px 5px;
    border: none;
    box-shadow: inset 0px 4px 10px rgba(53, 114, 226, 0.548);

    cursor: pointer;
}


.cleaning-questions__next::after {
    content: '';
    position: absolute;
    top: 25px;
    right: 55px;
    width: 10px;
    height: 10px;

    background: url('../img/icons/arrow-choice.svg') center center no-repeat;
}

.cleaning-questions__next:disabled {
    opacity: .5;
}

/* cleaning end */

/* anyone questions */

.anyone-questions {
    height: 100%;
    position: relative;
    display: none;
}

.anyone-questions__title,.area-questions__title {
    color: var(--text-color);

    font-size: 24px;
    margin-bottom: 45px;
}

.anyone-questions__choice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    
    gap: 15px;
}


.anyone-questions__item {
    background-color: #eeee;
    flex: 0 1 270px;
    min-height: 65px;
    
    text-align: left;
    border-radius: 15px;
    display: flex; 
    align-items: center;
}



.anyone-questions__label {
   padding: 17px 5px 18px 20px;

   cursor: pointer;
   width: 100%;
   display: inline-flex;
}

.anyone-questions__input,.area-questions__input {
    opacity: 0;
    visibility: hidden;
}
.anyone-questions__circle,.area-questions__circle {
    position: relative;
}


.anyone-questions__circle::before,.area-questions__circle::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -25px;
    width: 30px;
    height: 30px;

    background: url('../img/icons/icon-choice-static.svg') center center no-repeat;
}

.anyone-questions__input:checked ~ .anyone-questions__circle::before {
    background: url('../img/icons/icon-choice-fill.svg') center center no-repeat;
}

.area-questions__input:checked ~ .area-questions__circle::before {
    background: url('../img/icons/icon-choice-fill.svg') center center no-repeat;
}


.anyone-questions__text {
    color: var(--text-color);

    font-size: 14px;
    padding-left: 15px;
}

.anyone-questions__buttons {
    display: flex;
    padding-left: 46px;

    position: absolute;
    bottom: 10%;
}
@media(max-width: 498px) {
    .anyone-questions__buttons {
        padding-left: 20px;
    }
}

.anyone-questions__button {
    text-transform: uppercase;

    font-size: 13px;
    padding: 24px 0px;

    width: 205px;
    
    border: none;
    background-color: var(--blue-color);
    color: #fff;
    letter-spacing: 0.05em;
    border-radius: 100px;
    cursor: pointer;
}
@media(max-width: 498px) {
    .anyone-questions__button {
        width: 180px;
    }
}

.anyone-questions__button:not(:last-child) {
    margin-right: 10px;
}

.anyone-questions__button--back { 
    background: #C2C5C8;
}

.anyone-questions__button--next {
    position: relative;
}

.anyone-questions__button--next:after {
    content: '';
    position: absolute;
    top: 25px;
    right: 55px;
    width: 10px;
    height: 10px;

    background: url('../img/icons/arrow-choice.svg') center center no-repeat;
}

/* area questions */

.area-questions {
    position: relative;
    height: 100%;
    display: none;
}

.area-questions__choice {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 auto;
    gap: 15px;
}
@media (max-width: 798px) {
    .area-questions__choice {
        height: 300px;
        overflow-y: auto; 
    }
}


.area-questions__item {
    background-color: #eeee;
    flex: 0 1 270px;
    min-height: 65px;
    text-align: left;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.area-questions__label {
    padding: 17px 5px 18px 20px;

    cursor: pointer;
    width: 100%;
    display: inline-flex;
}



.area-questions__text {
    padding-left: 20px;
}

.area-questions__buttons {
    position: absolute;
    bottom: 10%;
    padding-left: 46px;
}
@media(max-width: 498px) {
    .area-questions__buttons {
        padding-left: 20px;
    }
}

.area-questions__button--next {
    position: relative;
}
.area-questions__button--next::after {
    content: '';
    position: absolute;
    top: 25px;
    right: 55px;
    width: 10px;
    height: 10px;

    background: url('../img/icons/arrow-choice.svg') center center no-repeat;
}

.area-questions__button--back {
    background-color: #C2C5C8;
}


/* progress bar */

.progress {
    position: relative;
    padding: 0 5px;
}

.progress__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #020202;
}

.progress__svg {
    background-color: #EEEEEE;
    border-radius: 100px;
    max-width: 100%;
    height: 100%;
}

.progress__rect {
    width: 33.333%;
    transition: all 0.2s ease;
}

.progress__mask {
    width: 33.333%;
    transition: all 0.2s ease;
}





/* progress bar end*/

/* footage calculate */ 

.footage-calculate {
    position: absolute;
    left: 50%;
    top: 30%;

    width: 300px;
    height: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
    .footage-calculate {
        transform: translateX(-50%);
    }
}
@media(max-width: 798px) {
    .footage-calculate {
        transform: translateX(-50%);
    }
}



.footage-calculate__active {
    opacity: 1;
    visibility: visible;
    top: 30%;
}

.footage-calculate__label {
    text-align: center;
    margin-bottom: 10px;
}

.footage-calculate__title {
    margin-bottom: 15px;
    font-size: 12px;
    
    color: rgb(177, 177, 177);
    letter-spacing: 0.1em;
}

.footage-calculate__input {
    border: none;
    background-color: #eeee;
    border-radius: 15px;
    font-size: 12px;
    padding: 15px;
}

.footage-calculate__input:focus {
    outline: none;
    border: 1px solid var(--blue-color)
}

.footage-calculate__btn {
    background-color: var(--blue-color);

    font-size: 12px;
    border: none;
    color: #fff;
    border-radius: 15px;
    padding: 10px 10px;
    cursor: pointer;
}