.certificate {
    margin-bottom: 80px;
}

.certificate__title {
    margin-bottom: 10px;
    line-height: 1;

}

.certificate__subtitle {
    text-align: center;

    font-size: 18px;
    font-weight: normal;

    color: #959A9D;
    margin: 0;
    margin-bottom: 36px;
}


/* slider */

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    width: auto;
}


.swiper-slide__img img {
    width: 100%;
    object-fit: contain;
    max-height: 380px;
}

.certificate__slider {
    position: relative;
}


.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 20px;
    color: #fff;
    background-color: var(--blue-color);

    padding: 10px 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 1px 0px 4px 10px rgba(255, 255, 255, 0.3);
}