.option {
    margin-bottom: 80px;
}

.option__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.option__subtitle {
    color: #fff;
    background-color: var(--yellow-color);

    font-weight: bold;
    font-size: 22px;

    padding: 11px 33px;
    border-radius: 100px;
    margin: 0 0 20px 0;
}

.option__title {
    margin: 0 0 10px 0;
}

.option__description {
    color: #959A9D;
    font-weight: 600;

    font-size: 22px;

    margin: 0;
}


.cards-option {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}
@media(max-width: 498px) {
    .cards-option {
        flex-direction: column;
    }
}


.item-cards {
    display: flex;
    align-items: center;
    column-gap: 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    flex: 1 1 25%;
}

.item-cards__img {
    padding: 22px 0px 22px 10px;
}

.item-cards__body {
    flex: 1 1 auto;
}

.item-cards__content {
    padding: 38px 44px 38px 5px;
}

.item-cards__title {
    font-size: 14px;
    font-weight: 400;

    color: var(--text-color);
    margin: 0px 0px 5px 0px;
}

.item-cards__price {
    position: relative;

    font-size: 16px;
    font-weight: 600;

    color: var(--blue-color);
    padding-left: 20px;
}

.item-cards__price:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 15px;
    height: 2px;
    background-color: var(--blue-color);
}

.gift-option {
    background: #fff url('../img/main/gift-bg.jpg') center center no-repeat;
    background-size: cover;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    max-height: 250px;
    background-position: 20px;
}

.gift-option__body {
    padding: 51px 5px 60px 59px;
}

.gift-option__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
    margin-bottom: 50px;
}

.gift-option__title {
    font-size: 20px;

    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 10px;
}

.gift-option__subtitle {
    color: var(--blue-color);

    font-size: 20px;
    font-weight: bold;
}

.gift-option__btn {
    background-color: var(--blue-color);
    display: inline-flex;

    text-decoration: none;
    font-size: 13px;
    width: 275px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}

.gift-option__btn:hover {
    box-shadow: inset 0px 4px 10px rgba(7, 127, 240, 0.3);
}
